.manufacturer_selector {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 15px;
    margin: 20px auto;
    padding: 10px;
    max-width: 1000px;
}

.manufacturer_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 150px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s; 
}
.manufacturer_button.selected {
    background-color: #0057ff; /* Цвет подсветки для выбранной кнопки */
    color: white;
    transform: scale(1.1); /* Легкое увеличение */
    border-radius: 10px;
}
.manufacturer_button img {
    max-width: 60px; 
    max-height: 60px;
    margin-bottom: 10px;
}

.manufacturer_button span {
    font-size: 14px; 
    color: #333;
    text-align: center;
}

.manufacturer_button:hover {
    background-color: #007bff;
    color: white; 
    transform: scale(1.05);
}

/*Подбор авто по параметрам*/
/* Секция фильтра */
.filter-section {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
.filter-section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Форма */
.filter-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Группы полей */
.filter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-group label {
    font-size: 16px;
    color: #555;
}

/* Поля ввода */
.filter-group input {
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
    max-width: 90%; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем внутри контейнера */
}

/* Кнопка */
#filter-btn {
    background-color: #0057ff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    width: 90%; /* Ограничиваем ширину кнопки */
    max-width: 250px; /* Делаем кнопку аккуратной */
}

#filter-btn:hover {
    background-color: #003db3;
}

/* Адаптивность */
@media (max-width: 768px) {
    .filter-section {
        width: 95%;
    }

    .filter-group label {
        font-size: 14px;
    }

    .filter-group input {
        font-size: 13px;
        padding: 7px 8px;
    }

    #filter-btn {
        font-size: 14px;
    }
}
